#navbarpad{
	padding-top: 5px;
	padding-bottom: 5px;
}

@media screen and (min-width:992px){
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 160px;
        text-align: center;
    }
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
.navbar{
	transition: 0.5 ease-in width;
}

.navbar.isactive{
	opacity: 0.95;
	margin-left: 15rem;
	margin-right: 15rem;
	transition: 0.5s ease-in;
}
